/*******************************************************/
/* sticky footer + one line for persistent top-nav-bar */
html, body {
    height: 100%;                       /* sticky footer */
}
.content {
    flex: 1 0 auto;                     /* sticky footer */
}
body {
    display: flex;                      /* sticky footer */
    flex-direction: column;             /* sticky footer */

}
.footer {
    flex-shrink: 0;                     /* sticky footer */
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
/* end sticky footer code */
/* sticky footer from https://css-tricks.com/couple-takes-sticky-footer/  --  Thank you !! */
/*******************************************************************************************/

/*****************Login**************/
.bg{
    text-align: center;

    background:url(background-login.jpg) no-repeat center center fixed; /* Center and scale the image nicely */
    /*full height*/
    height:100%;

    /*covers whole background in all browsers */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
}
.flex-fill {
    flex:1;
}

.card-padding {
    padding-top: 80px;
}

.nav-item {
    text-align: center;
}




