<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin</title>

    <!-- my (one free) fontawesome kit link -->
    <script src="https://kit.fontawesome.com/652790bb8a.js" crossorigin="anonymous"></script>

    <!-- link to bootstrap cdn 11.21.19 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- personal style sheet link -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <!-- favicon link -->
    <link rel="icon" type="image/png" href="">

</head>
<body>

    <h2>Welcome, <span th:text="${user.firstName}"></span>! You're special!</h2>
    <h3>That's because of the role that is <em>emphasized</em>, below...</h3>
    <ul>
        <li th:each="role : ${user.roles}">
            <!-- if the role is ADMIN, emphasize it -->
            <em th:if="${role.role=='ADMIN'}">
                <span th:text="${role.role}"></span>
            </em>
            <!-- otherwise, just print it out as usual -->
            <span th:unless="${role.role=='ADMIN'}">
               <span th:text="${role.role}"></span>
            </span>
        </li>
    </ul>

</body>
</html>