<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Base</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/css/mdb.min.css" rel="stylesheet">

    <!-- my (one free) fontawesome kit link -->
    <script src="https://kit.fontawesome.com/652790bb8a.js" crossorigin="anonymous"></script>

    <!-- link to bootstrap cdn 11.21.19 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- personal style sheet link -->
    <!-- commenting this out so that automatic scripts don't update it wrong. -->
    <!-- you must lead with a slash (omit the "static" folder) and then what you need -->
    <!--<link rel="stylesheet" th:href="@{/styles.css}">--> <!-- this is for a styles.css that's just in static -->
    <!--<link rel="stylesheet" th:href="@{/css/styles.css}">--> <!--- this is for a styles.css that's in static/css/ -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <!-- favicon link -->
    <link rel="icon" type="image/png" href="">

</head>

<body>






    <!-- CODE SNIPPETS live here -->

    <!-- we now have included the dependency (thymeleaf-extras-springsecurity5) which allows you to use -->
    <div sec:authorize="hasAuthority('ADMIN')"></div>
    <!-- or -->
    <div sec:authorize="hasAuthority('USER')"></div>
    <!-- or other -->
    <!-- in your html templates to show or not show a section based on user authorization -->

    <!-- this sort of code is useful for showing parts of navbars for specific users only!... -->
    <!--<span th:if="${user_id == course.user.id}">
                        <a th:href="@{/update/{id}(id=${course.id})}">Update</a>
                        <a th:href="@{/delete/{id}(id=${course.id})}">Delete</a>
                    </span>
    <a th:href="@{/detail/{id}(id=${course.id})}">Details</a>-->


    <!-- TH:FRAGMENTS live here -->

    <!-- fragment NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-dark black" th:fragment="navbar">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <li class="nav-item active">
                            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/showstudents">Show Students</a>
                        </li>
                        <li class="nav navbar-nav flex-fill justify-content-center">
                        <a class="navbar-brand mx-2 d-none d-md-inline"  href="/home"><strong></strong>
                            <img src="/images/courselogo.png" width="60px" height="60px" class="d-inline-block align-top" alt="logo">
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/studentform">Add Student</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/course">Add Course</a>
                        </li>
                     <li>
                        <a class="nav-link waves-effect waves-light" href="/login">
                            <i class="fas fa-sign-out-alt" >Logout</i>
                        </a>
                    </li>
                    </ul>

                </div>
        </nav>
    <!-- end fragment NAVBAR -->


<!-- fragment FOOTER :: needs some basic css, for its "stickyness" -->
<div th:fragment="footer">
    <!-- Footer -->
    <footer class="page-footer font-small blue fixed-bottom">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="#">JBC</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>


<!-- fragment JAVASCRIPT-LINKS -->
<!-- javascript links from BOOTSTRAP 11.21.19 -->
<div th:fragment="javascript-links">
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"-->
<!--            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"-->
<!--            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"-->
<!--            crossorigin="anonymous"></script>-->
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/js/mdb.min.js"></script>
</div>


</body>

</html>