<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Secure</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/css/mdb.min.css" rel="stylesheet">

    <!-- my (one free) fontawesome kit link -->
    <script src="https://kit.fontawesome.com/652790bb8a.js" crossorigin="anonymous"></script>

    <!-- link to bootstrap cdn 11.21.19 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- personal style sheet link -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <!-- favicon link -->
    <link rel="icon" type="image/png" href="">

    <!----Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Solid&display=swap" rel="stylesheet">

</head>
<body>
<div th:replace="base ::navbar"></div>
<div class="container">
    <div class="j-background jumbotron text-center">
    <h2 class="welcome-user">Welcome <span th:text="${user.firstName}"></span>! </h2>
    </div>
</div>

        <table class="table table-striped ">
            <thead>
            <tr class="center-text">
                <th scope="col">Actions</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Faculty</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course: ${courses}">

                <th scope="row"><div class="btn-group dropright">
                    <button type="button" class="btn btn-primary">Show More</button>
                    <button type="button" class="btn btn-primary dropdown-toggle px-3" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{/viewcourse/{id}(id=${course.id})}">Course Details</a>


                        <a class="dropdown-item" href="/studentform">Edit Student</a>

                        <a class="dropdown-item" href="/studentform">Edit Student</a>

                    </div>
                </div>
                </th>
                <td><span th:text="${course.name}"></span></td>
                <td><span th:text="${course.description}"></span></td>
                <td><span th:text="${course.faculty}"></span></td>

            </tr>
            </tbody>

        </table>
    </div>

<div th:replace="base :: javascript-links"></div>
<div th:replace="base:: footer"></div>
</body>
</html>