<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login Page</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/css/mdb.min.css" rel="stylesheet">

    <!-- my (one free) fontawesome kit link -->
    <script src="https://kit.fontawesome.com/652790bb8a.js" crossorigin="anonymous"></script>

    <!-- link to bootstrap cdn 11.21.19 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- personal style sheet link -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <!-- favicon link -->
    <link rel="icon" type="image/png" href="">
    <!------Google Fonts------->
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">

</head>
<body>
<div class="bg">
    <div class="container card-padding">
    <div class="card w-50 mx-auto">
        <h1 class="login-title">Login Page</h1>
    <div th:if="${param.error}" class="alert alert-info" role="alert">
        Invalid username or password
    </div>
    <div th:if="${param.logout}" class="alert alert-warning" role="alert">
        You have been logged out
    </div>
        <div class="card-body px-lg-5 pt-0">
    <form class="text-center" style="color: #757575;" th:action="@{/login}" method="post">
        <!-- passes the login information on to Spring Security -->
        <!-- this requires 'username' and 'password' as well as the "post" to @{/login} -->
        <div class="md-form">
            <input type="text" name="username" id="materialLoginFormEmail" class="form-control"/>
            <label for="materialLoginFormEmail">Username</label>
        </div>
        <div class="md-form">
            <input type="password" name="password" id="materialLoginFormPassword" class="form-control"/>
            <label for="materialLoginFormPassword">Password</label>
        </div>
        <button type="submit" class="btn btn-outline-info btn-rounded waves-effect"><i class="fas fa-sign-in-alt pr-2"
                                                                                       aria-hidden="true"></i>Sign in</button>
    </form>
    </div>
    </div>
    </div>
    <div th:replace="base :: javascript-links"></div>
</div>
</body>
</html>