<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Secure</title>

    <!-- my (one free) fontawesome kit link -->
    <script src="https://kit.fontawesome.com/652790bb8a.js" crossorigin="anonymous"></script>

    <!-- link to bootstrap cdn 11.21.19 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- personal style sheet link -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <!-- favicon link -->
    <link rel="icon" type="image/png" href="">

</head>
<body>
    <h2>Here, we are in the "secured" section of the site, accessible only via successful login!</h2>
    <h2>Congratulations, <span th:text="${user.firstName}"></span>, you have successfully logged in! </h2>
    <h3>Your information:</h3>
    <ul>
        <li>username: <span th:text="${user.username}"></span></li>
        <li>firstName: <span th:text="${user.firstName}"></span></li>
        <li>lastName: <span th:text="${user.lastName}"></span></li>
        <li>email: <span th:text="${user.email}"></span></li>
        <li>and... just for fun... hashed password!... <span th:text="${user.password}"></span></li>
    </ul>
    <h3>Your roles:</h3>
    <ul>
        <li th:each="role : ${user.roles}"><span th:text="${role.role}"></span></li>
    </ul>
    <h2><a href="/logout">Click here to logout</a></h2>
</body>
</html>