<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Form</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/css/mdb.min.css" rel="stylesheet">

    <!-- my (one free) fontawesome kit link -->
    <script src="https://kit.fontawesome.com/652790bb8a.js" crossorigin="anonymous"></script>

    <!-- link to bootstrap cdn 11.21.19 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- personal style sheet link -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<main role="main" class="container">
    <div class="mx-auto">
        <h1>Student Form</h1>

        <form action="#" th:action="@{/processstudent}" th:object="${student}" method="post">

            <!-- my flag indicating whether we're editing or not :: "true" or "false" string -->
            <input hidden name="editing" th:value="${editing}"/>

            <!-- id :: hidden input field -->
            <input hidden th:field="*{id}"/>            <!-- HTML5 way to do it. Before, you had to have type="hidden" -->

            <!-- firstName :: text input field -->
            <div class="form-group d-flex">
                <label for="firstName" class="col-form-label col-3">First Name:</label>
                <input th:required="required" type="text"
                       name="firstName" id="firstName"
                       class="form-control col-9 mx-3"
                       placeholder="First Name......"
                       th:field="*{firstName}" />
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            </div>

            <!-- lastName :: text input field -->
            <div class="form-group d-flex">
                <label for="lastName" class="col-form-label col-3">Last Name:</label>
                <input th:required="required" type="text"
                       name="lastName" id="lastName"
                       class="form-control col-9 mx-3"
                       placeholder="Last Name......"
                       th:field="*{lastName}" />
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            </div>


            <!-- role :: ** MULTIPLE ** SELECT field -->
            <div class="form-group d-flex">

                <label for="selectCourse" class="col-form-label col-3">Course(s): </label>

                <select required id="selectCourse" name="selectCourse"
                        class="form-control col-9 mx-3" multiple>

                    <!-- display this way if CREATING NEW -->
                    <option th:if="${editing} == 'false'" selected value="">Select course(s)...</option>
                    <option th:if="${editing} == 'false'"
                            th:each="course:${allCourses}"
                            th:value="${course.name}"
                            th:text="${course.name}"></option>

                    <!-- display this way if EDITING -->
                    <option th:if="${editing} == 'true'" disabled> Select role(s)... </option>
                    <option th:if="${editing} == 'true'"
                            th:each="course:${allCourses}"
                            th:value="${course.name}"
                            th:text="${course.name}"
                            th:selected="${student.courses.contains(course)}"></option>

                </select>
                <span th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></span>
                <!-- NOTE: this is NOT an INPUT field... So this gets grabbed via RequestParam "selectRole" -->

            </div>

            <!-- department :: single SELECT field -->
            <div class="form-group d-flex">

                <label for="selectDept" class="col-form-label col-3">Department: </label>

                <!-- *** IMPORTANT :: the name of the select tag below SHOULD NOT overlap with the name of the th:field, -->
                <!-- *** if it does, this will cause unwanted extra comma before our selection!... ahhhhh... -->

                <select required id="selectDept" name="selectDeptName"
                        class="form-control col-9 mx-3">
                    <option th:if="${editing} == 'false'" selected value="">Select department...</option>
                    <option th:if="${editing} == 'true'" disabled>Select department...</option>
                    <option th:each="department : ${allDepartments}"
                            th:value="${department.getName()}"
                            th:inline="text"
                            th:selected="(${user.department.name}==${department.name})">[[${department.name}]]: [[${department.description}]]
                    </option>
                </select>
                <span th:if="${#fields.hasErrors('department')}" th:errors="*{department}"></span>
                <!-- NOTE: this is NOT an INPUT field... info is grabbed via RequestParam "selectDept" whose value is a department's name -->

            </div>

            <!-- oh yeah, SUBMIT -->
            <div class="form-group d-flex">
                <input type="submit" value="Submit"/>
            </div>

        </form>

    </div>

</main>


<div th:replace="base :: javascript-links"></div>
</body>
</html>